<div nz-row style="margin: 50px 0">
  <div nz-col nzSpan="16" nzOffset="4">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Number of Tests">
          <p>{{ overallStats.numberOfTests }}</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Average Result">
          <nz-progress
            [nzPercent]="getNumberInput(overallStats.average)"
            nzType="circle"
          ></nz-progress>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="Average Duration">
          <p>{{ millisToMinutesAndSeconds(overallStats.duration) }}</p>
        </nz-card>
      </div>
    </div>
  </div>
</div>
